<%= provide(:title, @taxon.name) %>
<%= render 'shared/categories/light_section', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'shared/categories/categories_nav', taxonomies: @taxonomies %>
        <%= render 'shared/categories/selected_by_color' %>
        <%= render 'shared/categories/selected_by_size' %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'shared/categories/sort.html.erb' %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <div class="productBox">
                <%= link_to potepan_product_path(product.id) do %>
                  <div class="productImage clearfix">
                    <%= image_tag(product.images.first.attachment(:large), :alt => "products-img") %>
                  </div>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
